body{
    margin:0.5rem;
    background-color: antiquewhite;
}
h1, h2, h3, h4, h5, h6, p {
    font-family: 'Ubuntu Mono', sans-serif;
      color: #000;
    margin-left: 0.4%;
    }
.navbar {
    background-image: linear-gradient(180deg, #300002 0.001%, #480101);
    overflow: hidden;
    position: fixed;
    top: 0%;
    left: 0%;
    margin-bottom: 0.5rem;
    width: 100%;
  }
  .navbar a {
    font-family: 'Ubuntu Mono';
    color: #f2f2f2;
    padding: 0.6%;
    text-decoration: none;
    font-size: 2rem;
    border-right: 2px solid #fff;
    display: inline;
  }
  .current-link {
    background-color: rgb(203, 104, 191);
  }
  .navbar a:hover, .navbar a:focus {
    background-color: rgb(245, 130, 195);
  }
  .contentbar{
    flex-flow:row wrap;
      max-width: 90%;
      padding-bottom: 100%;
      display: flex;
      flex-flow: column-reverse wrap;
      align-content: center;
      flex-shrink: 1;
  }
  .contentbar>article{
    background-color: rgb(206, 147, 75);
    border: 2px transparent;
    box-shadow: 2px 2px 2px 1px black;
    max-width: 85%;
    margin:0.5rem;
    padding-left: 3px;
  }
  @media (max-width: 1000px) {
    button{
      max-width: 48%;
    }
    .contentbar{
      flex-flow:row-reverse wrap;
        max-width: 90%;
        padding-bottom: 80%;
        display: flex;
        flex-flow: column-reverse wrap;
        align-content: center;
        flex-shrink: 1;
    }
    .advert{
      max-width:85%;
      margin: 0.5rem;
      }
  }