body{
    margin:0.7rem;
    background-color: rgb(219, 182, 134);
}
p, li{
  font-size:medium;
}
h1, h2, h3, h4, h5, h6, p, li {
    font-family: 'Ubuntu Mono', sans-serif;
      color: #000;
    margin-left: 0.4%;
    }
  #about h3, #about h2{
display:inline;
  }
  h3, h4{
color:#3b3b3b;
  }
.navbar {
    background-image: linear-gradient(180deg, #120001 0.001%, #3b0000);
    overflow: hidden;
    position: fixed;
    top: 0%;
    left: 0%;
    margin-bottom: 0.5rem;
    width: 100%;
  }
  .navbar a {
    font-family: 'Ubuntu Mono';
    color: #f2f2f2;
    padding: 0.6%;
    text-decoration: none;
    font-size: 2rem;
    border-right: 2px solid #fff;
    display: inline;
  }
  .current-link {
    background-color: rgb(87, 5, 72);
  }
  .navbar a:hover, .navbar a:focus {
    background-color: rgb(141, 0, 80);
  }
  .contentbar{
    flex-flow:row wrap;
      max-width: 90%;
      padding-bottom: 100%;
      display: flex;
      align-content: center;
      flex-shrink: 1;
  }
  .contentbar>article, #about{
    background-color: rgb(206, 123, 75);
    border: 2px transparent;
    box-shadow: 2px 2px 2px 1px black;
    max-width: 85%;
    margin:1rem;
    padding: 0rem 1rem 1rem 1rem;
  }
  @media (max-width: 1000px) {
    button{
      max-width: 48%;
    }
    .contentbar{
      flex-flow:row-reverse wrap;
        max-width: 90%;
        padding-bottom: 80%;
        display: flex;
        flex-flow: column-reverse wrap;
        align-content: center;
        flex-shrink: 1;
    }
    .advert{
      max-width:85%;
      margin: 0.5rem;
      }
  }