/*PLEASE TAKE NOTES FROM NOW ON, SAM*/
html, body {
  margin: 0;
  padding: 2;
}
body {
  background-image: url("./background.jpg");
  background-size: 1920px 1080px
}
div {
  width:98%;
  right: 3px;
  left: 3px;
}
/*collapsible code*/
.collapsible {
  background-color: #557769;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 18px;
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
  float:bottom;
}
.active, .collapsible:hover {
  background-color: #466;
}
.content {
  width:100%;
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #557769;
    float: right, bottom;
}
.collapsible:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: white;
    float: Left;
    margin-left: 5px;
}

.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}
/*end of collapsible*/
h2 {
  font-family: 'Roboto', sans-serif;
  color: #DCDCDC;
}
h1 {
  color: #fff;
  font-family: 'Lobster', cursive;
}
.lobster {
    font-family: 'Lobster', cursive, sans-serif;
}
a {
font-family: 'Roboto', sans-serif;
color:  #111;
}
.orange {
    color:  #FFA500;
}
.white {
  color: #fff
}
.subtext {
  color: #999999
}
p {
  font-family: 'Ubuntu', sans-serif;
  color: #DCDCDC
}
.NavSidebar {
  position: fixed;
  top: 0px;
  left: 1px;
  background-color: #557769;
  border: 3px outset #CCCCCC;
  padding: 2px
}
.SubSidebar {
  position: fixed;
  bottom: 0px;
  left: 0px;
  padding: 0px
}
.big {
  font-size: large;
}
.absolute {
  position: absolute;
}
.boxed {
  border: 6px ridge #557769 ;
  padding-left: 5px
}

/*.btn controls button styles, currently not activated due to conflict with collapsibles*/
/*
.btn {
  -webkit-border-radius: 11;
  -moz-border-radius: 11;
  border-radius: 11px;
  color: #ffffff;
  font-size: 20px;
  background: #FFA500;
  padding: 7px 15px 7px 15px;
  border: solid #adadad 1px;
}
.btn:hover {
  background: #e6762b;
}
#mainNavCubes {
  position: absolute;
  left: 50%;
  top: 170px;
  margin-left: -240px;
}
*/
